/* .closenote {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 23px;
    width: 23px;
    font-weight: bold;
    background-color: #b5b4b4b6;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1001;
    cursor: pointer;
}
.closenote:hover {
    opacity: 0.7;
}
.closenote:active{
    opacity: 0.5;
} */