body{

    width: 160px;
    height: 200px;
    background-color: #d2ace8;
    text-align: center;
}

.container {
    background-image: url("../icons/bckgrnd.png");
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    height: 200px; 
}

.banner{
    margin-bottom: 20px ;
}

.button{
    width: 130px;
    height: 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #420070;
    background-color: #b97bde;
    font-weight: bold;
    margin-bottom: 20px;
}

.button:hover{
    outline: #420070 dotted thick;
    opacity: 0.7;
}
.button:active{
    opacity: 0.5;
}